

.bitcount-pixel {
  font-family: "Bitcount", system-ui;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "ELSH" 49.7,
    "ELXP" 0;
}

mainGrid{
    
    display: grid;
    grid-template-areas: "nav"
                        "header"
                        "personalParagraph"
                        "game1"
                        "game1description"
                        "game2"
                        "game2description"
                        "game3"
                        "game3description";
    margin-left: 20%;
    margin-right:20%;
    color:darkblue;
    background-color: aliceblue;
    position: relative;
    text-align: center;
    font-family: "Bitcount";
}
.topnav{
    grid-area: nav;
    
}

.topnav a {
  float: left;
  color: #836bee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkblue;
  color: white;
}

body{
    background: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 46%, rgba(148, 187, 233, 1) 100%);
}
#nameHeader{
    font-size: 7vh;
    grid-area: header;
}
#personalParagraph{
    grid-area: personalParagraph;
    margin-left: 10%;
    margin-right: 10%;
}
#game1{
    grid-area: game1;
    background-color: rgb(48, 159, 52);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 30px;
    
}
#game1:hover{
    background-color: rgb(61, 203, 66);
}

#game1Paragraph{
    grid-area: game1description;
    margin-left: 25%;
    margin-right: 25%;
}
#game2{
    grid-area: game2;
    background-color: rgb(146, 50, 64);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 30px;
    
}

#game2:hover{
    background-color: rgb(196, 67, 87);
}

#game2Paragraph{
    grid-area: game2description;
    margin-left: 25%;
    margin-right: 25%;
}

#game3{
    grid-area: game3;
    background-color: rgb(70, 11, 206);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    border-radius: 30px;
    
}

#game3:hover{
    background-color: rgb(87, 15, 255);
}

#game3Paragraph{
    grid-area: game3description;
    margin-left: 25%;
    margin-right: 25%;
}