.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}
.oranienbaum-regular {
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
}
.unna-regular {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}

.unna-bold {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: normal;
}

.unna-regular-italic {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: italic;
}

.unna-bold-italic {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: italic;
}

body{ 
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto 20%;
  background-color: #1F1452;
    
}
h2{
   color: 
  #f9dbe1;
   font-size: 2vw;
   width: 40%;
   text-align: center;
   margin-top: 2px;
   font-family: Oranienbaum;
   z-index: 0;
   position:absolute;
   
}
h1{
   grid-column-start: 1;
   grid-column-end: 3;
    text-decoration: overline;
    text-decoration-color: #f9dbe1;
    text-decoration-thickness: 3px;
    background-color:#35218a;
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 9vw;
    width: 50%;
    color: #FDECEF;
    z-index: 0;
    text-align: center;
    border-radius: 50%;
    
    font-family: Niconne;
}
h3{
    font-family: Oranienbaum;
    color: #f9dbe1;
    font-size: 2vw;
    background-color: #35218a;
    border-radius: 20%;
    width: 100%;
    text-align: center;
    
}
#aboutMeBox{
    grid-column-start: 1;
    color:#FDECEF;
    width: 30vw;
    font-family: Unna;
    margin-left: 10px;
    text-align: center;
    
}
.workingOn{
  position: absolute;
  left: 50%;
    height: 400px;
    background-color: #d8ad35;
    padding: 10px;
    border-radius: 10%;
    margin-top: 10px;
    
}

#FlowerShopText{
  grid-row-start: 4;
  grid-column-start: 2;
  font-family: Unna;
  color:#FDECEF;
  font-size: 20px;
}
a{
  color:#FDECEF;
}