.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}
.oranienbaum-regular {
  font-family: "Oranienbaum", serif;
  font-weight: 400;
  font-style: normal;
}
.unna-regular {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: normal;
}

.unna-bold {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: normal;
}

.unna-regular-italic {
  font-family: "Unna", serif;
  font-weight: 400;
  font-style: italic;
}

.unna-bold-italic {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: italic;
}

body{
    background-color: #1F1452;
    
}
h2{
   color: #f9dbe1;
   font-size: 2vw;
   width: 40%;
   text-align: center;
   margin-top: 2px;
   font-family: Oranienbaum;
   z-index: 0;
}
h1{
    text-decoration: overline;
    text-decoration-color: #f9dbe1;
    text-decoration-thickness: 3px;
    background-color:#35218a;
    margin-top: 2px;
    margin-bottom: 3px;
    font-size: 9vw;
    width: 50%;
    color: #FDECEF;
    z-index: 0;
    text-align: center;
    border-radius: 50%;
    
    font-family: Niconne;
}
h3{
    font-family: Oranienbaum;
    color: #f9dbe1;
    font-size: 2vw;
    background-color: #35218a;
    border-radius: 20%;
    width: 10%;
    text-align: center;
}
#aboutMeBox{
    color:#FDECEF;
    width: 20vw;
    font-family: Unna;
    margin-left: 3px;
    text-align: center;
}
.workingOn{
    
    float: right;
}